.subnav, .pagingbar {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
}
.subnav-inner, .pagingbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
}
.subnav .container, .pagingbar .container {
  width: auto;
}
.subnav .nav, .pagingbar .nav {
    margin-bottom: 0;
}
.subnav .nav.pull-right, .pagingbar .nav.pull-right {
  float: right;
}
.subnav .nav > li, .pagingbar .nav > li {
  display: block;
  float: left;
}
.subnav .nav > li > a, .pagingbar .nav > li > a {
    border-left: 1px solid #F5F5F5;
    border-radius: 0 0 0 0;
    border-right: 1px solid #E5E5E5;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
}
.subnav .nav > li > a.disabled, .pagingbar .nav > li > a.disabled {
	color: #CCC;
}
.subnav .nav > .active > a, .subnav .nav > .active > a:hover,
.pagingbar .nav > .active > a, .pagingbar .nav > .active > a:hover {
    background-color: #E9E9E9;
    border-left: 0 none;
    border-right-color: #DDDDDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
    color: #777777;
    padding-left: 13px;
}
.subnav .nav > .active > a .caret, .subnav .nav > .active > a:hover .caret,
.pagingbar .nav > .active > a .caret, .pagingbar .nav > .active > a:hover .caret {
    border-top-color: #777777;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover,
.pagingbar .nav > li:first-child > a, .pagingbar .nav > li:first-child > a:hover {
    border-left: 0 none;
    border-radius: 4px 0 0 4px;
    padding-left: 12px;
}
.subnav .nav > li:last-child > a,
.pagingbar .nav > li:last-child > a {
    border-right: 0 none;
}
.subnav .dropdown-menu, .pagingbar .dropdown-menu {
    border-radius: 0 0 4px 4px;
}
.subnav-fixed {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 1020;
}
.subnav-fixed .nav {
    margin: 0 auto;
    padding: 0 1px;
    width: 938px;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover,
.pagingbar .nav > li:first-child > a, .pagingbar .nav > li:first-child > a:hover {
    border-radius: 0 0 0 0;
}

.subnav .nav .dropdown-menu.pull-right,
.pagingbar .nav .dropdown-menu.pull-right {
  left: auto;
  right: 0;
}
.subnav .nav.pull-right .dropdown-menu:before,
.subnav .nav .dropdown-menu.pull-right:before,
.pagingbar .nav.pull-right .dropdown-menu:before,
.pagingbar .nav .dropdown-menu.pull-right:before {
  left: auto;
  right: 12px;
}
.subnav .nav.pull-right .dropdown-menu:after,
.subnav .nav .dropdown-menu.pull-right:after,
.pagingbar .nav.pull-right .dropdown-menu:after,
.pagingbar .nav .dropdown-menu.pull-right:after {
  left: auto;
  right: 13px;
}
.subnav .nav-tabs:after, .subnav .nav-pills:after,
.pagingbar .nav-tabs:after, .pagingbar .nav-pills:after {
	clear: none;
}
.subnav .navbar-form, .pagingbar .navbar-form {
	border-left: 1px solid #F5F5F5;
    border-radius: 0 0 0 0;
    border-right: 1px solid #E5E5E5;
    padding: 0 9px;
	margin: 0;
}
.subnav .navbar-text, .pagingbar .navbar-text {
  margin-bottom: 0;
  line-height: 40px;
}
.pagingContent {
	padding: 10px;
}
.striped-row {
	background-color: #E5E5E5;
}
.data-row {
	/*padding: 5px 10px 5px 10px;*/
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.component-backdrop {
  background-color: #CCCCCC;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.component-backdrop.fade {
  opacity: 0;
}
.component-backdrop,
.component-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.masked {
	position: relative !important;
}
.mask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border:1px solid #6593cf;
}
.mask-msg div {
    background: url('/resources/images/loading.gif') no-repeat 5px 5px;
    line-height: 18px;
    padding: 2px;
    text-indent: 24px;
    cursor:wait;
}
/* ************************************************************************************* */

/*.nav-collapse.collapse {
  height: auto;
}
.navbar {
  color: #999999;
}
.navbar .brand:hover {
  text-decoration: none;
}
.navbar .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #ffffff;
}
.pagingbar .btn,
.pagingbar .btn-group {
  margin-top: 5px;
}
.pagingbar .btn-group .btn {
  margin-top: 0;
}
.navbar-form:before,
.navbar-form:after {
  display: table;
  content: "";
}
.navbar-form:after {
  clear: both;
}
.navbar-form input,
.navbar-form select,
.navbar-form .radio,
.navbar-form .checkbox {
  margin-top: 5px;
}
.navbar-form input,
.navbar-form select {
  display: inline-block;
  margin-bottom: 0;
}
.navbar-form input[type="image"],
.navbar-form input[type="checkbox"],
.navbar-form input[type="radio"] {
  margin-top: 3px;
}
.navbar-form .input-append,
.navbar-form .input-prepend {
  margin-top: 6px;
  white-space: nowrap;
}
.navbar-form .input-append input,
.navbar-form .input-prepend input {
  margin-top: 0;
}
.navbar-search {
  position: relative;
  float: left;
  margin-top: 6px;
  margin-bottom: 0;
}
.navbar-search .search-query {
  padding: 4px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
  background-color: #626262;
  border: 1px solid #151515;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}
.navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}
.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
  padding: 5px 10px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}*/